/* App Styles */
.App {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  /* Buttons */
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Input Fields */
  input[type="text"] {
    width: 200px;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Form Buttons */
  form button {
    background-color: #008CBA;
  }
  
  form button:hover {
    background-color: #005f6b;
  }
  
  /* Container Styles */
  .mint, .tokenFind, .transfer, .burnToken {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Error Message */
  .error-message {
    color: red;
    margin-top: 10px;
  }
  